<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AboutXu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F12D57151CD31A3000B66D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F12D57311CD31A3100B66D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F12D573C1CD31A3100B66D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
